@import "tailwindcss";
:root {
  scroll-behavior: smooth;
}
body {
  @apply bg-orange-50 text-neutral-900;
  font-family: var(--font-inter);
}


@layer utilities {
  .font-archivo,
  .about-link {
    font-family: var(--font-archivo);
  }

}
