@import "tailwindcss";
:root {
  scroll-behavior: smooth;
}
body {
  @apply bg-orange-50 text-neutral-900;
  font-family: var(--font-inter);
}

@layer utilities {
  h1,
  h2,
  .font-playfair,
  .about-link {
    font-family: var(--font-playfair);
  }

  /* == Marquee (Infinite Loop) == */
  .marquee-track {
    display: inline-flex;
    animation: marquee 40s linear infinite;
    transform-origin: left;
    will-change: transform;
    
  }

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}
