@import "tailwindcss";
:root {
  scroll-behavior: smooth;
}
body {
  @apply bg-orange-50 text-neutral-900;
  font-family: var(--font-inter);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  h1,
  .font-playfair,
  .about-link {
    font-family: var(--font-playfair);
  }

}
