@import "tailwindcss";
:root {
  scroll-behavior: smooth;
}
body {
  @apply bg-orange-50 text-neutral-900;
  
  font-family: var(--font-inter);
}


@layer utilities {
  h1.hero-logo,
  h2,
  h3,
  .about-link {
    font-family: var(--font-bubblegum-sans);
  }

}
