@import "tailwindcss";

body {
  @apply bg-orange-50 text-slate-800;
  font-family: var(--font-inter);
}


@layer utilities {
  h1.hero-logo,
  h2,
  h3,
  h4 {
    font-family: var(--font-bubblegum-sans);
  }

}
